<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Convo | OAuth {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/inter-ui@3.7.0/inter.min.css"
    />
    <link
      rel="stylesheet"
      href="/styles.css"
    />
    <!-- Plausible -->
    <script
      async
      defer
      data-domain="oauth.convo.events"
      src="https://plausible.io/js/plausible.js"
    ></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% include "partial/header.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "partial/footer.html" %}
  </body>
</html>
