{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="heading-container">
    <h1>Convo</h1>
    <p>Login to your browser extension</p>
  </div>

  <div>
    <p class="helptext">If you do not have a password associated with your account, you can create one on Convo's <a href="https://app.convo.events/settings" target="_blank">settings page</a>.</p>
  </div>

  <div>
    {% if error|length > 0 %}
      <p class="error">{{ error }}</p>
    {% endif %}
  </div>

  <form class="form" action="/email?redirect_uri={{ redirect_uri }}" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <input type="hidden" name="provider" value="email">

    <label>
      <span>Email</span>
      <input type="email" name="email" required autofocus>
    </label>
    <label>
      <span>Password</span>
      <input type="password" name="password" required>
    </label>
    <button class="green" type="submit">Login</button>
  </form>

</div>
{% endblock %}
