{% extends "base.html" %}

{% block scripts %}
  <!-- Google Sign In -->
  <script id="googlescript" src="https://apis.google.com/js/api.js"></script>
  <!-- Facebook Sign In -->
  <script id="facebookscript" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <!-- OAuth Handling -->
  <script>
    function handleGoogleClick(googleUser) {
      const authResponse = googleUser.getAuthResponse();
      const form = document.getElementById("googleform");
      const input = document.getElementById("googletoken");
      input.value = authResponse.id_token;
      form.submit();
    }

    function initGoogle() {
      window.gapi.load("client", () => {
        window.gapi.client
          .init({
            apiKey: "{{ google_api_key }}",
            clientId: "{{ google_client_id }}",
            scope: "profile email",
            discoveryDocs: [
              "https://www.googleapis.com/discovery/v1/apis/people/v1/rest"
            ]
          })
          .then(() => {
            const authInstance = window.gapi.auth2.getAuthInstance();
            const googleButton = document.getElementById("googlebutton");
            authInstance.attachClickHandler(
              googleButton,
              {},
              handleGoogleClick,
              e => {
                alert(e);
              }
            );
          });
      });
    }

    document.addEventListener("DOMContentLoaded", initGoogle);
  </script>
  <script>
    function handleFBClick(e) {
      e.preventDefault();
      window.FB.login(
        response => {
          const form = document.getElementById("facebookform");
          const input = document.getElementById("facebooktoken");
          input.value = response.authResponse.accessToken;
          form.submit();
        },
        { scope: "public_profile,email" }
      );
    }

    function initFB() {
      window.FB.init({
        appId: "{{ facebook_app_id }}",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v3.3"
      });

      document.getElementById("facebook").addEventListener("click", handleFBClick);
    }

    document.addEventListener("DOMContentLoaded", initFB);
  </script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="heading-container">
    <h1>Convo</h1>
    <p>Login to your browser extension</p>
  </div>

  <div>
    {% if error|length > 0 %}
      <p class="error">{{ error }}</p>
    {% endif %}
  </div>

  <div class="form">
    <form action="{{ action }}" method="POST" class="form" id="googleform">
      <input type="hidden" name="csrf" value="{{ csrf }}">
      <input type="hidden" name="token" value="" id="googletoken">
      <input type="hidden" name="provider" value="google">
    </form>

    <button class="white" id="googlebutton">
      <img src="google-logo.svg" class="logo">
      <span>Continue with Google</span>
    </button>

    <form action="{{ action }}" method="POST" class="form" id="facebookform">
      <input type="hidden" name="csrf" value="{{ csrf }}">
      <input type="hidden" name="token" value="" id="facebooktoken">
      <input type="hidden" name="provider" value="facebook">
    </form>

    <button class="white" id="facebook">
      <img src="facebook-logo.svg" class="logo">
      <span>Continue with Facebook</span>
    </button>

    <a class="button white" href="/email?redirect_uri={{redirect_uri}}">
      <i class="material-icons logo">email</i>
      <span>Continue with email</span>
    </a>
  </div>
</div>
{% endblock %}
